
/* display */
.block{
    display: block;
}
.flex{
    display: flex;
}

/* margin */
.mt-1{
    margin-top: 1em;
}
.mt-2{
    margin-top: 2em;
}
.mb-1{
    margin-bottom: 1em;
}
.mb-2{
    margin-bottom: 2em;
}
.ml-5{
    margin-left: 5em;
}

/* aligne/justify */
.center{
    margin-left: auto;
    margin-right: auto;
}
.justify-ctr{
    justify-content: center;
}
.justify-sb{
    justify-content: space-between;
}
.justify-sa{
    justify-content: space-around;
}